@font-face {
  font-family: Foo;
  src: url('../Akkmo.ttf') format('truetype');;
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Foo' !important;
}

.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
